/*
 * Author: nian
 * Blog: http://whoisnian.com
 * Mail: zhuchangbao2017@gmail.com
 * Copyright © 2017 All Rights Reserved
 */

/*********** main ***********/
html, body {
	font-family: "PT Sans", Helvetica, Arial, sans-serif;
	color: #000000;
	background-color: #CCCCCC;
	height: 100%;
	margin: 0;
}

*:hover {
    transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-webkit-transition: 0.2s linear;
	-o-transition: 0.2s linear;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

/*********** menu ***********/
.menu {
	text-align: right;
	background-color: #666666;
}
@media (min-width: 40em) {
	.menu {
		font-size: 20px;
	}
}

.menu-title{
	float: left;
	padding: 10px;
}

.menu nav a {
	display: inline-block; 
	padding: 10px;
} 

.menu nav a:hover {
	background: #AAAAAA;
}

.other {
	display: inline-block;
	vertical-align: top;
}

.dropdown {
        display: inline-block;
}

.dropdown nav a {
	display: block;
}

.drop-content {
	z-index: 10;
	text-align: center;
        background-color: #777777;
        position: absolute;
	display: none;
	left: 0;
        right: 0;
}
@media (min-width: 40em) {
	.drop-content {
		left: auto;
	}
}

.dropdown:hover .drop-content {
	display: inline-block;
}


/*********** footer ***********/
.wrapper {
        min-height: 100%;
	margin-bottom: -40px;
}

.push {
	height: 40px;
}

.footer {
	color: #FFFFFF;
	background-color: #666666;
	height: 30px;
	padding: 10px 0 0 10px;
}

/*********** form ***********/
.form-card {
	text-align: center;
	background-color: #BBBBBB;
	width: 250px;
	border-style: solid;
	border-color: #999999;
	margin: 0 auto;
	padding: 10px;
}
@media (min-width: 40em) {
	.form-card {
		font-size: 20px;
		width: 600px;
	}
}

.form-title {
        font-size: 20px;
}
@media (min-width: 40em) {
	.form-title {
		font-size: 30px;
	}
}

.input{
	border-color: #999999;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	height: 20px;
	width: 200px;
	outline: none;
	padding: 1px;
}
@media (min-width: 40em) {
	.input {
		font-size: 20px;
		width: 300px;
		height: 25px;
	}
}

.text{
	background-color: #FFFFFF;
	border-width: 2px;
	border-color: #999999;
	border-style: solid;
	border-radius: 5px;
	outline: none;
	width: 200px;
	height: 70px;
}
@media (min-width: 40em) {
	.text {
		font-size: 20px;
		width: 300px;
		height: 100px;
	}
}

.radio-input {
  	display: none;
}

.radio-label {
	text-align: center;
	background-color: #FFFFFF;
	border-width: 2px;
	border-radius: 15px;
	display: inline-block;
	padding: 3px 15px;
	cursor: pointer;
}
@media (min-width: 40em) {
	.radio-label {
		font-size: 20px;
		padding: 5px 20px;
	}
}

.radio-input:checked + .radio-label {
  	background-color: #888888;
}

.select{
	background-color: #FFFFFF;
	border-width: 2px;
	border-color: #999999;
	border-style: solid;
	border-radius: 5px;
	outline: none;
	width: 200px;
	height: 25px;
	cursor: pointer;
}
@media (min-width: 40em) {
	.select {
		font-size: 20px;
		width: 300px;
		height: 30px;
	}
}

.file {
	background-color: #FFFFFF;
	border-width: 2px;
	border-color: #999999;
	border-style: solid;
	display: inline-block;
	width: 200px;
	cursor: pointer;
}
@media (min-width: 40em) {
	.file {
		font-size: 20px;
		width: 300px;
	}
}

.file:hover{
	background-color: #CCCCCC;
}

.button{
	background-color: #888888;
	white-space: nowrap;
	border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
	border-radius: 15px;
	display: inline-block;
    padding: 3px 10px;
	cursor: pointer;
}
@media (min-width: 40em) {
	.button {
		padding: 5px 15px;
	}
}

.button:hover{
	background-color: #666666;
}

/***********table***********/
.table {
	font-size: 11px;
	width: 100%;
	margin: 0 auto;
}
@media (min-width: 50em) {
	.table {
		font-size: 16px;
	}
}
@media (min-width: 80em) {
	.table {
		width: 60%;
	}
}

.table a {
	color: #555555;
    text-decoration: none;
}

.table a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.table td {
	text-align: center;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.table tr:hover {
	background-color: #999999;
}

.table tr:first-child:hover {
	background-color: #CCCCCC;
}

/***********card***********/
.card{
	font-size: 11px;
	width: 300px;
	margin: 0 auto;
}
@media (min-width: 40em) {
	.card {
		font-size: 16px;
		width: 600px;
	}
}

.card a{
	color: #555555;
    text-decoration: none;
}

.card a:hover{
	color: #FFFFFF;
	text-decoration: underline;
}

.card-avatar {
	width: 25px;
	height: 25px;
	vertical-align: top;
}
@media (min-width: 40em) {
	.card-avatar {
		width: 50px;
		height: 50px;
	}
}

.card-table{
    border-collapse: collapse;
	display: inline-block;
}

.card-head-left{
	width: 150px;
	height: 27px;
	text-align: left;
	background-color: #AAAAAA;
	border-width: 2px 0 0 2px;
	border-style: solid;
	border-color: #999999;
	padding: 2px 5px;
	float: left;
	display: inline-block;
}
@media (min-width: 40em) {
	.card-head-left {
		width: 300px;
		height: 35px;
		padding: 5px 10px;
		border-width: 5px 0 0 5px;
	}
} 

.card-head-right{
	width: 90px;
	height: 27px;
	text-align: right;
	background-color: #AAAAAA;
	border-width: 2px 2px 0 0;
	border-style: solid;
	border-color: #999999;
	display: inline-block;
	padding: 2px 5px;
	float: right;
	border-top-right-radius: 15px;
	-webkit-border-top-right-radius: 15px;
}
@media (min-width: 40em) {
	.card-head-right {
		width: 180px;
		height: 35px;
		padding: 5px 10px;
		border-width: 5px 5px 0 0;
		border-top-right-radius: 25px;
		-webkit-border-top-right-radius: 25px;
	}
}

.card-head-right a {
	display: inline-block;
	margin-top: 5px;
}

.card-body-big{
	width:250px;
	min-height: 50px; 
	text-align: left;
	background-color: #BBBBBB;
	border-width: 1px 2px 2px 2px;
	border-style: solid;
	border-color: #999999;
	display: inline-block;
	padding: 5px;
	border-bottom-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
}
@media (min-width: 40em) {
	.card-body-big {
		width: 500px;
		min-height: 100px;
		padding: 10px;
		border-width: 1px 5px 5px 5px;
		border-bottom-left-radius: 25px;
		-webkit-border-bottom-left-radius: 25px;
	}
} 

.card-body-small{
	width:250px;
	min-height: 25px; 
	text-align: left;
	background-color: #BBBBBB;
	border-width: 1px 2px 2px 2px;
	border-style: solid;
	border-color: #999999;
	display: inline-block;
	padding: 5px;
	border-bottom-left-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
}
@media (min-width: 40em) {
	.card-body-small {
		width: 500px;
		min-height: 50px;
		padding: 10px;
		border-width: 1px 5px 5px 5px;
		border-bottom-left-radius: 25px;
		-webkit-border-bottom-left-radius: 25px;
	}
}

/***********music***********/
.musicbox {
	font-size: 10px;
	text-align: left;
	background-color: #BBBBBB;
	width: 300px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	position: relative;
	margin:0 auto;
}
@media (min-width: 40em) {
	.musicbox {
		font-size: 20px;
		width: 600px;
	}
}

.music-img {
	width: 100px; 
	height: 100px;
}
@media (min-width: 40em) {
	.music-img {
		width: 200px;
		height: 200px;
	}
}

.music-info {
	position:absolute;
	margin-left: 110px;
	margin-top: -95px;
}
@media (min-width: 40em) {
	.music-info {
		position:absolute;
		margin-left: 220px;
		margin-top: -190px;
	}
}

.musicbox a{
	color: #555555;
    text-decoration: none;
}

.musicbox a:hover{
	color: #FFFFFF;
	text-decoration: underline;
}
/***********info***********/
.infobox {
	font-size: 12px;
	text-align: left;
	background-color: #BBBBBB;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	border-spacing: 10px;
	margin:0 auto;
}
@media (min-width: 40em) {
	.infobox {
		font-size: 20px;
		border-spacing: 20px;
	}
}

/***********others***********/
.maxlen {
	white-space: nowrap;
	display: inline-block;
	vertical-align:top;
	max-width: 130px;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (min-width: 40em) {
	.maxlen {
		max-width: 280px;
	}
}

.error{
	color: #BB0000;
}

.line {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 3px 0 0 0;
    border-radius: 30px;
}
.line:before { 
    display: block;
    content: "";
    height: 30px;
    margin-top: -33px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 3px 0;
    border-radius: 30px;
}